version: '2'

services: 
  nginx:
    image: nginx:1.13
    container_name: easy-nginx
    restart: always
    ports:
    - 80:80
    - 443:443
    volumes:
    - ./nginx/conf.d:/etc/nginx/conf.d    
  docker-mysql:
    image: mysql:latest
    container_name: docker-mysql
    volumes:
    - /my/own/datadir:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=notes_app
      - MYSQL_PASSWORD=root
  spring-boot-easynotes-app:
    build:
      context: .
      dockerfile: Dockerfile-notesmicroservice
    image: easynotes
    container_name: easynotes_app
    depends_on:
      - nginx
      - docker-mysql
    restart: always
    ports:
      - 9696:9696
    environment:
      - DATABASE_HOST=docker-mysql
      - DATABASE_USER=root
      - DATABASE_PASSWORD=root
      - DATABASE_NAME=notes_app
      - DATABASE_PORT=3306
